.MainLayout {
    margin: 0;
    padding: 0;
    height: 460px;
    width: 100%;
    display: flex;
    background-color: rgb(131, 160, 253);

}
.MainLayout2
{
    height: 100%;
    
    width: 42%;
    margin-left: 6.5%;
    margin-top: 2vh;

}
.ContentLayout
{
    height: 200%;
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;
}
.ContentLayout2{
    height: 50%;
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;

}
.JoinNow{
    margin-top: 25px;
    float: right;
    font-size: 18px;
    scroll-padding-right: 5px;
}
.SubContent
{
    height: 20em;
}


.Quotation
{
    margin:0px;
}
h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    font-family: Mukta;
    letter-spacing: -2.4px;
    color: #333333;
    margin: 0%;
}
p
{
    font-size: 18px;
    line-height: 1.56;
    color: #333333;
    font-family: Mukta;
    margin-top: 0%;
    margin: 0%;
}
h6{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.56;
    letter-spacing: -0.1px;
    color: #333333;
    margin-bottom: 18px;
    margin: 0%;
    margin-bottom: 1%;
}
.Quotation
{
    margin-right: 2%;;
}
#JoinBtn
{
    border-radius: 8px;
    size:10%;
    width: 7em;  height: 3em;
    min-width: 118px;
    height: 48px;
    font-weight: 600;
    background-color:rgba(255,255,255, 0);
    border: solid 1.5px  #e25a15;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: #e25a15;
    
}
.sign-in-btn {
    min-width: 118px;
    height: 48px;
    border-radius: 8px;
    border: solid 1.5px #ff6d26;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #ff6d26;
    text-transform: uppercase;

/*display: flex;*/
    
    cursor: pointer;
}
.LogoIcon
{
    margin-top: 15px;
}
.ChildImg
{
    width: 60%;
    height: 84%;
    object-fit: contain;
    margin-top: 4px;
    
}
.row {
    margin-top: 2vh;
}

.s-row {
    margin-top: 0.5vh;
}
.ss-row{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 350px;
}
.col-25 {
    padding: 0;
    float: left;
    /*width: 30%;*/
    color: black;
}

.col-25 label {
    font-size: 2vh;
    line-height: 40px;
}
.col-75 {
    padding: 0;
    margin: 0;
    float: right;
    width: 70%;
}
.col-1
{
    /*display: inline-block;*/
    float: left;
    width: 50%;
    color: black;
}
.col-2
{
    /*display: inline-block;*/
    float: right;
    width: 50%;
    color: black;
    margin-right: -5%;
}
.ph-no
{
    /*display: inline-block;*/
    float: right;
    width: 80%;
    color: black;
    margin-right: -2%;
}
.ph-code
{
    /*display: inline-block;*/
    float: left;
    width:17%;
    color: black;
}
.phone-code {
    z-index: 1;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    
    border-radius: 8px;
    border: solid 1px rgba(0,0,0,0.1);
    background-color: #ffffff;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(arrow-down.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: 15px;
    padding-left: 25%;
    padding-top: 20%;
    padding-bottom: 20%;
}




.col-5{
    display: inline-block;
    width:18%;
 
}
.grade-label {
    
    height: 40px;
    border-radius: 8px;
    display: flex;
    -webkit-align-items:center;
    -webkit-justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.06;
    margin-right: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 0 0 #e1e1e1;
    border: solid 1px #e1e1e1;
    background-color: #ffffff;
    cursor: pointer;
}

.student-grades-holder {
    margin-top: 1%;
    display: flex;
    -webkit-flex-wrap: wrap;
}
.grade-holder {
    flex-basis: 20%;
    width: 20%;
}
.grade-label.selected {
    box-shadow: 0 2px 0 0 #ffa526;
    border: solid 1px #ffa526;
    background-color: #fff2e0;
}
.grade-label.marg-right-zero {
    margin-right: 0px;
}

.form {
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    top: 18%;
    left: 55%;
    /*width: 400px;
    height: 80%;*/
    border: 2px solid #020202;
    border-radius: 10px;
    background-color: #ffffff;
}

#grade{
    border-radius: 25px;
    width: 60%;
    margin: 2%;
    height: 3em;
  }
  #PC
  {
    
    width: 5%;
    margin: 2%;
    height: 3em;
  }

  .headerText {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #333333;
    margin-top: 2%;
}


.radio-group-container {
    margin-bottom: unset;
    margin-top: 12px;
    display: flex;

}
.btn-radio {
    position: relative;
    width: 5%;
    
}
.container {
    display: block;
    position: relative;
    margin-bottom: 6px;
    margin-left: 0px;
}
.container input {
    opacity: 0;
    cursor: pointer;
}
.datatext {
    position: relative;
    left: 32px;
    top: -10px;
    font-size: 10px;
    line-height: 1.43;
    color: #333333;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: solid 1px rgba(0,0,0,0.2);  
    border-radius: 50%;
}




.whatapp-seperator {
    height: 1px;
    background-color: #e5e5e5;
}
.whatsapp-container {
    display: flex;
    width: 100%;
}
.checkbox-wrapper {
    position: relative;
    margin-top: 20px;
}
.checkmark {
    border-radius: 0px;
}

.whatsapplabelData {
   
    margin-left: 8px;
    margin-top: 9px;
}
.book-slot-btn.disabled {
    background-color: #ffc6aa;
    pointer-events: none;
    width:100%;
    height: 5vh;
    margin-top: -3%;
}

.hurry-text {
    text-align: center;
    display: flex;    
    margin-top: 6px;
    opacity: 0.8;
    font-size: 14px;
    color: #333333;
}
.hurry-text label{
    width: 100%;
}


.form input {
    height: 5vh;
    width: calc(100% - 35px);
    /*width: 80%;*/
    padding-left: 10%;
    padding-right: 0px;
    background-color: #ffffff;
    border: solid 1px rgba(0,0,0,0.1);
    
    border-radius: 7px;
    font-size: 16px;
    font-size: 2vh;
}

#check {
    width: 5%;

}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#input_container { 
    position:relative;
    padding:0;
    margin:0;
}

#input_img {
    position: absolute;;
    bottom:8px;
    left:10px;

}

.do-have-1 {
    float: left;
    width: 50%;
}

.do-have-2 {
    float: right;
    width: 50%;
}

.do-have-1 input {
    width: 15px;
    float: left;
}

.do-have-2 input {
    width: 15px;
    float: left;
    
}

.do-have-2 input:checked {
    width: 20px;
    float: left;
    background-color: red;
}

.do-have-1 label {
    float: right;
    padding-right: 50%;
    padding-top: 7%;
    padding-top: 15px;
}

.do-have-2 label {
    float: right;
    padding-top: 7%;
    padding-right: 40%;
    padding-top: 15px;
}

.prev 
{
    position:absolute;
    bottom:20%;
    right:5px;
}
.next 
{
    position: absolute;
    bottom:20%;
    right:1px;
}
.SlideImage
{
    height:100%;
    width:100%;
}